<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>heartbeatMaxTime</key>
	<string>120</string>
	<key>pokemonMaxTime</key>
	<string>45.0</string>
	<key>startupLon</key>
	<string>0.0</string>
	<key>nearbyTracker</key>
	<true/>
	<key>startupLat</key>
	<string>0.0</string>
	<key>ultraIV</key>
	<true/>
	<key>maxFailedCount</key>
	<string>5</string>
	<key>deployEggs</key>
	<true/>
	<key>token</key>
	<string></string>
	<key>backendRawURL</key>
	<string>http://BACKEND_IP_PORT/raw</string>
	<key>port</key>
	<string>8080</string>
	<key>minDelayLogout</key>
	<string>180.0</string>
	<key>ultraQuests</key>
	<true/>
	<key>pixelConfigURL</key>
	<string>http://PIXEL_CONFIG_URL</string>
	<key>enableAccountManager</key>
	<true/>
	<key>maxWarningTimeRaid</key>
	<string>432000</string>
	<key>backendControllerURL</key>
	<string>http://BACKEND_IP_PORT/controler</string>
	<key>raidMaxTime</key>
	<string>25.0</string>
	<key>maxNoQuestCount</key>
	<string>5</string>
	<key>targetMaxDistance</key>
	<string>250.0</string>
	<key>maxEmptyGMO</key>
	<string>50</string>
	<key>loggingPort</key>
	<string>18655</string>
	<key>encounterDelay</key>
	<string>0</string>
	<key>loggingTCP</key>
	<true/>
	<key>autoLogin</key>
	<false/>
	<key>loggingTLS</key>
	<false/>
	<key>loggingURL</key>
	<string></string>
	<key>jitterValue</key>
	<string>0.00005</string>
</dict>
</plist>
